.categories-section {
    padding: 60px 40px;
    text-align: center;
    background-color: white;
}
.categories-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.category {
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.category:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(244, 105, 19, 0.16);
}
.category-icon {
    font-size: 50px;
    margin-bottom: 10px;
}
.category h3 {
    font-size: 18px;
}